<h2>Filter Operator</h2>
<hr>
<div class="row">
  <div class="col-md-4">
    <strong>Ex 01 - filter by length</strong>
    <hr>
    <table class="table">
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
      <tr *ngFor="let item of data">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <strong>Ex 02 - filter by gender</strong>
    <hr>
    <table class="table">
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
      <tr *ngFor="let item of data2">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
      </tr>
    </table>
  </div>
  <div class="col-md-4">
    <strong>Ex 03 - filter by nth item (starting from first item)</strong>
    <hr>
    <table class="table">
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
      <tr *ngFor="let item of data3">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
      </tr>
    </table>
  </div>
</div>

