<!-- <p>all works!</p> -->
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" routerLink="interval">Interval</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="of-from">of and from</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="to-array">toArray operator</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="map">Map operator</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="pluck">Pluck operator</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="filter">Filter operator</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="subject">Subjects in RxJS</a>
  </li>
</ul>