<h2>of and from operators</h2>

<br><br>
<strong>Ex 01 - of</strong>
<hr>

<div class="row">
  <div class="col-md-6">
    <p class="bg-light rounded py-2 px-3 border">
      <strong>Data:</strong>of('abc','def','ghi')
    </p>
    <hr>
    <ul id="elContainer">      
    </ul>
  </div>

  <div class="col-md-6">
    <p class="bg-light rounded py-2 px-3 border">
      <strong>Data:</strong>of(&#123;a:'abc', b:'def', c:'ghi'&#125;)
    </p>
    <hr>
    <ul>      
      <li>a: {{obsMsg.a}}</li>
      <li>b: {{obsMsg.b}}</li>
      <li>c: {{obsMsg.c}}</li>
    </ul>
  </div>
</div>
<hr>
<strong>Ex 02 - from</strong>
<hr>

<div class="row">
  <div class="col-md-4">
    <strong>from : array - observable</strong>
    <ul id="elContainer3">
    </ul>
  </div>
  <div class="col-md-4">
    <strong>from : Promise - observable</strong>
    <ul id="elContainer4">
    </ul>
  </div>
  <div class="col-md-4">
    <strong>from : String - observable</strong>
    <ul id="elContainer5">
    </ul>
  </div>
</div>